# Copy this file to keystore.properties and fill in your actual values
# DO NOT commit keystore.properties to git (it's already in .gitignore)

storeFile=C:/Users/glass/momma-keystore.jks
storePassword=Allen6516!
keyAlias=mommaKey
keyPassword=Allen6516!
